body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #1c1427;
  color: #7eca9c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
	width: 85%; 
	margin: auto;
}

a {
	text-decoration: none; 
}

.btn {
	color: #1c1427;
    background: #7eca9c;	
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
}

/*Header style*/

header {
	color: #1c1427;
    background: #7eca9c;	
}

.headerContent {
	display: flex;
	justify-content: space-between; 
    padding: 20px;
}

.logo {
	font-size: 30px;
	font-weight: bold;
}

nav {
	list-style: none;
	display: flex;
}

nav a {
	margin-left: 20px;
	font-size: 20px;
	font-weight: bold;
}

.home {
	text-align: center;  
	text-transform: capitalize;
	margin-top: 30px;             
}

.description {
	width: 35%;
	margin: auto;
	font-size: 16px;
}

.homeImg {
	margin-top: 30px;
	width: 55%; 
}

/*footer*/
footer {
	text-align: center;
	padding: 20px;
	color: #1c1427;
    background: #7eca9c;
}

/*shop page*/
.shop {
	display: grid;
	grid-template-columns: repeat(4, 230px); 
	justify-content: center;
	grid-gap: 20px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.plant {
    width: 230px;
    text-align: center;
    margin-top: 30px; 
} 

.plant img{ 
	width: 230px;
	height: 282px;
}

.addToCart {
	display: flex;
	justify-content: space-around;
}

.increDcre {
	font-size: 25px;  
}

.plus {
	margin-right: 20px;
}

/*Cart*/

.cart {
	width: 30%;
	margin: auto;
	padding-bottom: 35px;
}

.item {
	display: flex;
	justify-content: space-between;
	margin: 40px 0; 
	padding-bottom: 15px;
	border-bottom: 2px solid; 
}

.removeBtn {
	font-weight: bold; 
	padding: 0 20px;       
}

.removeBtn:hover {
	background: tomato; 
	color: white; 
}

.cartBtns {
	margin-top: 50px; 
}

.cartBtns .btn{
	margin-right: 20px; 
	padding: 20px 30px;
}

.cartCount { 
	display: inline-block; 
	font-size: 13px;    
	background: orange;
	border-radius: 50%;
	padding: 0px 5px;
}

.Items {
	margin-top: 20px;
	text-transform: uppercase;
}

